body{
    background-color: #fff3ec;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}


/*navigator*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}

ul{
    margin:0;
}

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #cfb3a2;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s;
}


/*dashboard*/


.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 70px;
}

.korean-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.sample{
    background-color: pink;
    -webkit-text-stroke: 1px black;
}

.sample:hover{
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
    transition: none;
}

.highlight{
    color: white;
    -webkit-text-stroke: 1px black;
}

.highlight:hover{
    background-color: pink;
    color: black;
    transition: none;
}

.type1:hover{
    background-color: pink;
}


.english-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;

    letter-spacing: -0.3px;
}

.eng {
    border-left: 2px solid #a18574;
    padding: 18px;
}


/*footer*/

footer {
    margin: 0 auto;
}



.contact{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

a {
    margin: 0 auto;

}

.blog {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-left: 5px;
    }

.instagram {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-left: 0.8px;

}





/* INFO Section*/

.profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;

}


.profile-img {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 400px;
    margin-left: 60px;
}



.introduction>h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin-bottom: 40px;

}


#capability{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;

    line-height: 30px;
}


/*favorite section*/

.container {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-items: center;


}

h2 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;

}

.fav-box {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.fav-box2 {
    display: flex;
    justify-items: center;
    margin-top: 20px;


}

.item { 
    width: 350px;
    height: 480px;
    animation: showItem 3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    
}




.item2 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    animation: showItem 3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    
}





@keyframes showItem {
    30% {
      transform: translateY(0);
      opacity: 0;
      
    }
  
    0% {
      transform: translateY(20px);
      opacity: 1;
    }
  }



